[submodule "third_party/sel4"]
	path = third_party/sel4
	url = https://github.com/seL4/seL4.git
[submodule "third_party/limine"]
	path = third_party/limine
	url = https://github.com/limine-bootloader/limine.git
